@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    box-sizing: border-box;
    font-family: Poppins;
}

body{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: #daf0ff;
}

#calculator{
    width: 300px;
    border-radius: 26px;
    background-color: #f5f5f9;
    box-shadow: 54px 54px 61.5px rgba(96, 190, 255, 0.55);
    box-sizing: content-box;
}

#display{
    text-align: right;
    background-color: transparent;
    border: none;
    width: 100%;
    height: 200px;
    font-size: 3rem;
    color: #424242;
    padding: 20px;
}

#display:focus{
    outline: none;
}

#keys{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding: 25px;
    justify-items: center;
}


#calculator button{
    width: 50px;
    height: 50px;
    background: linear-gradient(125.69deg, rgba(255, 255, 255, 0.6) -9.41%, rgba(255, 255, 255, 0.4) 109.25%);
    border: 1px solid #FFFFFF;
    backdrop-filter: blur(6px);
    border-radius: 10px;
    color: #38B9FF;
    font-size: 25px;
    cursor: pointer;
    transition: 0.2s;
}

#calculator button.op{
    border: none;
    background-color: #ADE2FF;
    color: #109DFF;
}

#calculator .clear{
    width: 120px;
    grid-column: 1 / span 2;
}

#calculator .theme{
    display: flex;
    justify-content: center;
    align-items: center;
}

#calculator .theme svg{
    width: 50%;
    height: 50%;
    fill: #38B9FF;
}

#calculator .theme:hover svg{
    fill: #FFFFFF;
}

#calculator button.equal{
    grid-row: 4 / span 2;
    border: none;
    grid-column: 4;
    height: 112px;
    background: #19ACFF;
    color: #B2DAFF;
    box-shadow: 5px 5px 10px 0px #B0DFFF inset, 10px 10px 20px rgba(0, 163, 255, 0.65);
}

#calculator button.equal:hover{
    box-shadow: 5px 5px 10px 0px #B0DFFF inset;
    background: rgb(25, 172, 255, 0.75);
}

#calculator button:hover{
    background-color: #19ACFF;
    border: none;
    color: #FFFFFF;
    box-shadow: 5px 5px 20px #B0DFFF ;
}

#calculator button:active{
    transform: scale(0.8);
    border: 2px solid white;
    color: #FFFFFF;
}